.navbar {
    background-color: #000;
}
.navbar ul{
    list-style: none;
    display: inline-flex;
}

.navbar ul li{
    font-size: 16px;
    background-color: darkgrey;
    margin: 5px;
    border-radius: 3px;
}
.navbar ul li a.md-button{
    margin: 0;
}
.navbar .filter{
    display: inline-flex;
}

.ng-dirty{
    background-color: yellow;
}